body{
		/*background-image es para imagen de fondo de la pagina*/
		background-image:url("../imagenes/fondodos.jpg");
		/*font-family es para la tipografia de la letra*/
		font-family:"Tahoma","Lucida Console","Courier"
		/*color es para el color de la letra*/
		color:
}